<div class="main-container">
  <div class="row">
    <app-admin-card></app-admin-card>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <!-- admin data analysis -->
      <div class="card">
        <div class="card-title">
          <clr-icon shape="add-text" size="36"></clr-icon> &nbsp;
          <span> Visitors Timeline | Year: {{today | date:'yyyy'}}</span>
        </div>
        <div class="card-divider"></div>
        <div class="card-block">
          <!--graph and table -->
          <div class="col-md-12">
            <div style="display: block;">
              <canvas baseChart style="width: 1200px; height: 320px"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px; margin-top: 10px;">
            <table class="table table-responsive table-condensed">
              <tr>
                <th>User Type</th>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
              </tr>
              <tr *ngFor="let d of lineChartData">
                <td>{{d.label}}</td>
                <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
              </tr>
            </table>
            <button class="btn btn-outline" routerLink="/adminDashboard/user-summary">User Summary</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
