<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="card-header">
      Administrator Info
    </div>
    <div class="card-block">
      <br>
      <div class="card-media-block">
        <img src="../../../assets/user.png" class="card-media-image">
        <div class="card-media-description">
          <span class="card-media-title"> John Smith </span>
          <span class="card-media-text">  System Administrator </span>
        </div>
      </div>
      <br>
      <div class="card-text">
        <div class="card-divider"></div>
        <p class="card-title"> Visitors This Week</p>
        <br>
      <div class="progress-block">
        <label class="pro-label">Student</label>
        <div class="progress-static">
          <div class="progress-meter" data-value="20"></div>
        </div>
      </div>
      <div class="progress-block">
        <label class="pro-label">Staff</label>
        <div class="progress-static">
          <div class="progress-meter" data-value="50"></div>
        </div>
      </div>
      <div class="progress-block">
        <label class="pro-label">Faculty</label>
        <div class="progress success">
          <progress value="44" max="100" data-displayval="...%"></progress>
        </div>
      </div>
        <br>

        <!--Visitors component TODO: add list -->
        <div class="card-divider"></div>
        <div class="card-title">Questionnaire Completion</div>
        <ul class="list">
          <li>Physical Domain <span class="badge badge-purple">15</span> </li>
          <li>Behavioral Domain</li>
          <li>Spiritual Domain <span class="badge badge-1">9</span> </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
      <!--<a routerLink="/adminDashboard/user-summary" class="card-link">More Information</a>-->
    </div>
    <app-footer></app-footer>
  </div>
</div>
