.card-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}


.btn .btn-link .nav-link {
  font-size: 16px;
}

.main-container {
  height: 100%;
}

.card {
  width: 1130px;
  height: 580px;
}

